.App{
  height: 100vh;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.booksDiv{
  display: flex;
  gap: 10px;
}
.bookDiv{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    background-color: coral;
}
.delete {
    border: 1px solid rgb(219, 19, 19);
    color: rgb(197, 13, 13);
}
.update {
    border: 1px solid rgb(201, 6, 240);
    color: rgb(190, 3, 190);
  }